.container{
    height: 1600px;
    width: 250px;
    overflow: scroll;
    background-image: url("download.jpg");
    background-repeat: repeat-y;
    background-attachment: local;
    color: white;
    position: absolute;
    left:600px;

}