*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.RegisterDialog{
    position: absolute;
    height: 76%;
    width: 30%;
    background-color: white;
    top: 13%;
    left: 36%;
    z-index: 55555;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 20px;
}
#tagGender{
    position: relative;
    right:32%;
}
.close{
    width: 53px;
    height: 54px;
    background: none;
    border: none;
    text-decoration: none;
    background-image: url(close.png);
    position: absolute;
    left: 89%;
    top: 12px;
}
#createNewAcc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    height: 85%;
    width: 100%;
    gap:5px;
}
#signUp{
    position: relative;
    margin-top: 21px;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.globalContainer{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.Information{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 10%;
    font-size: 1.5rem;
}
.registerHeader{
padding: 10px;
}
.brandLogo{
    height: 50%;
    width: 100%;
    padding: 10% 15% 0 0;
}
#logo{
    width: 100%;
    height: 100%;
}
.loginRegister{
    width: 30%;
    height: 100%;
    padding:25px;
}
.male,.female{
    display: flex;
}
.genderCont{
    display: flex;
    gap:35px;
}
.loginRegister>form{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    -webkit-filter: blur();
}
input,button{
    height: 12%;
    width: 91%;
    /* padding:20px; */
    font-size: 1rem;
}
input[type="radio"]{
    height: auto;
    width: auto;
    margin:3px;
}
.error {
    color: red;
}
input{
    border: 1px solid #ccd0d5;
    padding-left: 15px;
}
hr{
    width: 91%;
    opacity: 0.4;
}
.brandTagLine{
    margin-left: 5%;
    padding-left: 5%;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 45px;

}
#submit{
    background-color: #1877f0;
    border-color: #1877f0;
    opacity: 1;
    color:white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-weight: 900;
}
#submit:hover{
background-color: #1877f2;
}
.register{
    width: 55%;
    background-color: #42b72a;
    border-color: #42b72a;
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-weight: 900;
}