*{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.pg1{
    height: 100%;
    width: 100%;
    background-image: url(second.jpg);
   background-size: 500px 250px;
}
#one{
    background-repeat: repeat-x;
}
#two{
    background-repeat: no-repeat;
}
#three{
    background-repeat: repeat-y;
}
#five{
    background-repeat: space;
}
#six{
    background-repeat: no-repeat;
    background-position: center top;
}